body {
  background-color: #333;
}
* {
  color: #fff;
  font-family: sans-serif;
}
div.stretched-bg-images {
  margin: 90px auto;
  /* centering content */
  align-items: baseline;
  display: flex;
  justify-content: center;
}
div.stretched-bg-images em,
div.stretched-bg-images:before{
  color: red;
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: center;
  position: absolute;
  background-color: #fff;
  margin-top: -50px;
}
pre, .code, q {
  color: pink;
  font-family: monospace;
}
h2, .text {
  max-width: 600px;
  margin: 50px auto;
}
h2 {
  text-align: center;
  font-family: serif;
  border-bottom: 1px solid #fff;
}
.stretched-bg-images.portrait {
  background-image: url(images/portrait.jpg);
}
.stretched-bg-images.landscape {
  background-image: url(images/landscape.jpg);
}
.stretched-bg-images.panorama {
  background-image: url(images/panorama.jpg);
}
.stretched-bg-images.skyscraper {
  background-image: url(images/skyscraper.jpg);
}
.stretched-bg-images.stretched-bg-images-error-portrait {
  background-color: red!important;
  background-image: none;
}
.stretched-bg-images.stretched-bg-images-error-landscape {
  background-color: pink!important;
  background-image: none;
}


.stretched-bg-images {
  background-color: #fff;
}
.stretched-bg-images.portrait:before {
  content: 'portrait example';
}
.stretched-bg-images.landscape:before {
  content: 'landscsape example';
}
.stretched-bg-images.panorama:before{
  content: 'panorama example';
}
.stretched-bg-images.skyscraper:before {
  content: 'skyscraper example';
}
.stretched-bg-images.stretched-bg-images-error-portrait:before {
  content: 'error out of ratio portrait example';

}
.stretched-bg-images.stretched-bg-images-error-landscape:before {
  content: 'error out of ratio landscape example';
}
